<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Location</title>
</head>
<body>
    <h1>Edit Location: <%= location.name %></h1>
    <form action="/locations/<%= location._id %>?_method=PUT" method="POST">
        <p>Name: <input type="text" name="name" value="<%= location.name %>"></p>
        <p>Image: <input type="text" name="img" value="<%= location.img %>"></p>
        <p>Description: <input type="text" name="description" value="<%= location.description %>"></p>
        <p>Hotels: <input type="text" name="hotels" value="<%= location.hotels %>"></p>
        <p>Attractions: <input type="text" name="attractions" value="<%= location.attractions %>"></p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>