<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/style-edit.css">
    <title>Edit Location</title>
</head>
<body>
    <nav>
        <%- include('./partials/nav') %>
        <a href="/locations/<%= location._id %>"><button class="btn">Return to <%= location.name %></button></a>
    </nav>
    <h1>Edit Location: <%= location.name %></h1>
    <div>
        <img src="<%= location.img %>">
    </div>
    <form action="/locations/<%= location._id %>?_method=PUT" method="POST">
        <div class="form">
            <p>Name: <input type="text" name="name" value="<%= location.name %>"></p>
            <p>Image: <input type="text" name="img" value="<%= location.img %>"></p>
            <p>Description: <input type="text" name="description" value="<%= location.description %>" class="describe"></p>
            <p>Hotels: <input type="text" name="hotels" value="<%= location.hotels %>" class="hotel"></p>
            <p>Attractions: <input type="text" name="attractions" value="<%= location.attractions %>" class="attractions"></p>
            <p>Date: <input type="text" name="date" value="<%= location.data %>"> Travel Plans <input type="text" name="travelPlan" value="<%= location.travelPlan %>"></p>
            <div>
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
    <%- include('./partials/footer') %> 
</body>
</html>