<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/style.css">
    <title>Locations</title>
</head>
<body>
    <nav>
        <a href="/locations/new"><button class="btn">Add a New Location</button></a>
        <a href="/locations/saved"><button class="btn save">View Saved Destinations</button></a>
        <%- include('./partials/nav') %>
    </nav>
    <h1>Travel Locations</h1>
    <div class="location-div">
        <% locations.forEach(location => { %>
            <div class="location">
                <a href="/locations/<%= location._id %>"><img src="<%= location.img %>" alt="Image of <%= location.name %>" ></a> 
                <p><%= location.name %></p>
                <div class="links">
                    <a href="/locations/<%= location._id %>"> <button class="edit btn ">View Destination</button></a>
                    <form action="/locations/<%= location._id%>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </div>
            </div>
            <% } ) %>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>