<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Locations</title>
</head>
<body>
    <nav>
        <a href="/locations/new"><button class="btn">Add a New Location</button></a>
        <a href=""><button class="btn save">View Saved Destinations</button></a>
        <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
        </a>
    </nav>
    <h1>Places to Travel</h1>
    <div class="location-div">
        <% locations.forEach(location => { %>
            <div class="location">
                <a href="/locations/<%= location._id %>"><img src="<%= location.img %>" alt="Image of <%= location.name %>" ></a> 
                <p><%= location.name %></p>
                <div class="links">
                    <a href="/locations/<%= location._id %>"> <button class="edit btn ">View Destination</button></a>
                    <form action="/locations/<%= location._id%>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn">
                    </form>
                </div>
            </div>
            <% } ) %>
    </div>
</body>
</html>