<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Travel Plans</title>
</head>
<body>
    <nav>
        <!-- <%- include('./partials/nav') %> -->
    </nav>
    <h1>Viewing Plans For: <%= user.locationsName %></h1>
    <p>Your plans so far</p>
    <div>
        <ul>
            <% for (let i = 0; i < user.travelPlan.length; i++){ %>
                <li>
                    <%= user.travelPlan[i]%>
                </li>
                <li>
                    <%= user.travelDate[i] %>
                </li>
           <% } %>
        </ul>
    </div>
    <form action="/locations/saved/plans/<%= user._id %>?_method=POST" method="POST">
        Plan: <input type="text" name="travelPlan">
        Date: <input type="text" name="travelDate">
        <input type="hidden" name="locationIndex" value="<%= locationIndex %>" >
        <input type="submit" value="submit">
    </form>


    <%- include('./partials/footer') %>
</body>
</html>