<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/style-save.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <%- include('./partials/nav') %>
        <a href="/locations">Return to Homepage</a>
    </nav>
    <h1>Saved Locations</h1>
    <% for(let i = 0; i < user[0].locationsName.length; i++) { %>
    <div>
      <a href="/locations/<%=user[0].locationsId[i] %>"><p><%= user[0].locationsName[i] %></p></a> 
        <div>
          <form action="/locations/update/<%= user[0]._id %>?_method=PUT" method="POST">
            <input type="text" name="locationsName" value="<%= user[0].locationsName[i] %>" hidden>
            <input type="text" name="locationsId" value="<%= user[0].locationsId[i] %>" hidden >
              <input type="submit" value="Remove" class="btn btn-danger" >
          </form>
        </div>
    </div>
 <% } %> 

  <%- include('./partials/footer') %>
</body>
</html>