<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
</head>
<body>
    <h1>You are viewing: <%= location.name %></h1>
    <img src="<%= location.img %>" alt="You are viewing an image of <%= location.name %>" width="250px" height="250px">
    <p><%= location.description %></p>
    <p>Hotel you chose: <%= location.hotels %></p>
    <p>Attractions: <%= location.attractions %></p>
</body>
</html>