<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/style-show.css">
    <title>Location</title>
</head>
<body>
    <% let checkTemp; %>
    <% let checkWeather; %>
    <% if(data.cod == '404') { %>
       <% checkTemp = 0; %>
       <% checkWeather = 'Invalid Location Name'; %>
    <% } else { %>
        <% checkTemp =  data.main.temp; %>
        <% checkWeather = data.weather[0].main;  %>
    <% }; %>
    <nav>
        <a href="/locations/<%= location._id %>/edit"> <button class="edit btn ">Edit</button></a>
        <%- include('./partials/nav') %>
    </nav>
    <h1><%= location.name %></h1>
    <div>
        <img src="<%= location.img %>" alt="You are viewing an image of <%= location.name %>">
        <form action="/locations/saved?_method=POST" method="POST"> 
            <input type="text" name="locationsName" value="<%= location.name %>" hidden>
            <input type="text" name="locationsId" value="<%= location._id %>" hidden>
            <input type="submit" value="Save This Destination" class="save btn ">
        </form>
    </div>
    <p><%= location.description %></p>
    <p>Hotels: <%= location.hotels %></p>
    <p>Attractions: <%= location.attractions %></p>
    <p>Current Temperature: <%= Math.round(checkTemp) %>°</p>
    <p>Weather Conditions: <%= checkWeather %></p>
    <%- include('./partials/footer') %>
</body>
</html>

