<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/users/style-save.css">
    <title>Document</title>
</head>
<body>
    <nav>
      <%- include('../partials/nav') %>
    </nav>
    <h1>Saved Locations</h1>
    <% for( let i = 0; i < user[0].savedLocations.length; i++ ) { %>
      <div>
        <% let locationIndex = i %>
        <p><%= user[0].savedLocations[i].locationsName %></p>
        <div class="add-remove">
          <a href="/locations/saved/<%= locationIndex %>"><button class="view btn">View your Plans</button></a>
          <form action="/locations/update/<%= user[0].savedLocations[i]._id %>?_method=PUT" method="POST">
            <input type="submit" value="Remove" class="remove btn btn-danger">
          </form>
        </div>
      </div>
   <% } %>
  <%- include('../partials/footer') %>
</body>
</html>